<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Dashboard</title>
    <script>
        function openTab(){
            testpage=document.querySelector("#test-page-1");
            testpage.style="left:0;";
        }
        function closeTab(){
            testpage=document.querySelector("#test-page-1");
            testpage.style="left:200vw;";
        }

    </script>
</head>
<body>
    <div class="dashboard-main-container">
        <div class="topbar">
            <button class="topbar-button"> <span class="material-icons" >
                health_and_safety
                </span>healthCompanion</button>
            <button class="topbar-button topbar-button-gold">Your score : 0000</button>

        </div>
        <div class="dashboard-container">
            
            <div class="sidebar">
                
                <div class="profilesection">
                    <span class="material-icons profilephoto">
                        account_circle
                        </span>
                    <h3>XÆ-A12</h3>    
                </div>
                <div class="navigation">
                    <ul>
                        <li><a href="#" class="navigation-active"><span class="material-icons">dashboard</span>&nbsp;Dashboard</a></li>
                        
                       
                        <li><a href="#" ><span class="material-icons">
                            account_circle
                            </span>&nbsp;Account</a></li>
                            <li><a href="#" ><span class="material-icons">family_restroom</span>&nbsp;MyFamily</a></li>
                       
                    </ul>
                </div>
               
    
                </div>


           
            <div class="profile-page">


            <div class="profile-page-main">
              <h1>Dashboard</h1>
              
              
              <div class="main-grid">

             <a href="#" class="card-link" onclick="openTab()">
                 <span class="material-icons">description</span>
                 <h1>Take your daily test&nbsp;<span class="material-icons">
                    chevron_right
                    </span></h1>
                <p>Get a personalized experience by taking this test everyday</p>
            </a>




            <a href="https://www.hownormalami.eu/" class="card-link card-link-gold">
                <span class="material-icons">face</span>
                <h1>How normal am i?&nbsp;<span class="material-icons">
                   chevron_right
                   </span></h1>
               <p>Experience how "artificial intelligence" judges your face</p>
           </a>




              </div>

              <div class="card-container">

                <a href="#" class="card">
                    <h3>Weekly Perfomance</h3>
                    <p>GRAPH</p>
                    <img src="graph.jpeg">
                </a>


                    <a href="#" class="card">
                        <h3>Sleep Analytics</h3>
                        <p>GRAPH</p>
                    </a>
                   
                        <a href="#" class="card">
                            <h3>Stress analytics</h3>
                            <p>GRAPH</p>
                    </a>

                  
                        
                    
              </div>





            </div>

            <div class="daily-test-page" id="test-page-1">
                
                <div class="close-button">
                    <button onclick="closeTab()"><span class="material-icons">
                        arrow_back_ios
                        </span></button>
                </div>
                <h1>Answer the given questions below </h1>
                
                <form>

                    <div class="ques-cont">
                        <h3>1. How much sleep did you get yesterday</h3>
                        <div class="ques-cont-sub">
                            <input type="radio" name="sleep" value="onehour">
                             <label for="sleep">Less than one hour</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="sleep" value="2to3hour">
                             <label for="sleep">Two to three hour</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="sleep" value="4to6hour">
                             <label for="sleep">Four to six hour</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="sleep" value="4to6hour">
                             <label for="sleep">More than 7 hour</label>
                        </div>
                    </div>
                    



                    <div class="ques-cont">
                        <h3>2. How often do you feel stressed?</h3>
                        <div class="ques-cont-sub">
                            <input type="radio" name="stress" value="onehour">
                             <label for="sleep">All of the time</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="stress" value="2to3hour">
                             <label for="sleep">Most of the  time</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="stress" value="4to6hour">
                             <label for="sleep">Rarely</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="stress" value="4to6hour">
                             <label for="sleep">Never</label>
                        </div>




                       
                    </div>
                    <div class="ques-cont">
                        <h3>3. What activities do you do for fun or relaxation?</h3>
                        <div class="ques-cont-sub">
                            <input type="radio" name="fun" value="onehour">
                             <label for="sleep">Meditation</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="fun" value="2to3hour">
                             <label for="sleep">Art or Music</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="fun" value="4to6hour">
                             <label for="sleep">Deep breathing</label>
                        </div>
                        <div class="ques-cont-sub">
                            <input type="radio" name="fun" value="4to6hour">
                             <label for="sleep">Others</label>
                        </div>
                        <button class="ques-button">Submit</button>
                    
                </form>
            </div>

            
            </div>

        </div>
        
    </div>



<!---
    <h1>Hello you have been loged in.</h1>
    <a href="{{url_for('logout')}}">press here for logout</a>
    <a class="button" href="{{url_for('editfee')}}">fee</a>

-->
</body>
</html>